<link rel="stylesheet" type="text/css" href="/static/style.css" />

</style>
<script src="https://code.jquery.com/jquery-2.0.0.min.js"></script>

<center>
<table id="songs">
<tr><th> Artist </th> <th> Title </th> <th></th></tr>
</table>
</center>

<script>
$(document).ready(function() {
        var fudge = 0
        var chunk = 100 //Entries to load at once
        var offset = 0
        var wait = 0

        function get_success(resp) {
            $('#songs tr:last').after(resp)
            offset = offset + chunk
            wait = 0
        }

        function populate_table() {
            qurl = '/songs/artist/' + offset + '/' + (offset + chunk) + '/'
            jQuery.get(qurl, '', get_success)
        }

        console.log(offset, chunk)

        populate_table()

        $(window).scroll(function() {
            if ($(window).scrollTop() >= $(document).height() - window.innerHeight - fudge) {
              if (wait == 0) {
                 wait = 1
                 populate_table()
              }
            }
        });

});
</script>
