<link rel="stylesheet" type="text/css" href="/static/style.css" />

<script src="https://code.jquery.com/jquery-2.0.0.min.js"></script>

<center>
<ul id="artists">
    <li>Artists</li>
</ul>
</center>

<script>
$(document).ready(function() {
        var fudge = 50
        var chunk = 100 //Entries to load at once
        var offset = 0

        function get_success(resp) {
            console.log(resp)
            $('#artists li:last').after(resp)
            offset = offset + chunk
        }

        function populate_table() {
            qurl = '/artists/' + offset + '/' + (offset + chunk) + '?name={{name}}'
            jQuery.get(qurl, '', get_success)
        }

        console.log(offset, chunk)

        populate_table()

        $(window).scroll(function() {
            if ($(window).scrollTop() >= $(document).height() - window.innerHeight - fudge) {
              populate_table()
            }
        });

});
</script>

