<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-right: 5px;
    padding-left: 5px;
}
</style>

<center>

<a href="/songs">Song List</a><p>
<table>
<tr><th> Spot </th>
    <th> Singer </th>
    <th> Artist </th>
    <th> Song </th>
{% for item in queue %}
<tr><td>  {{loop.index}} </td>
    <td> <a href="/queue/display/{{item[0]}}"> {{item[0]}} </a> </td>
    <td> <a href="/songs/artist/{{item[1].aid}}">{{item[1].artist}}</a> </td>
    <td> {{item[1].title}} </td>
</tr>
{% endfor %}

</table>
</center>
