<link rel="stylesheet" type="text/css" href="/static/style.css" />

<head>
<title>Karaoke!</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<center>
<!--img src=/static/batman.jpg style="width:300px"!--><p>
You are {{name}} <a href="/queue/setname">(Change?)</a><br>
<a style="text-align:center" href="/queue/display/">Queue</a><br>
<a style="text-align:center" href="/songs/artist/">All Songs by Artist</a><br>
<a style="text-align:center" href="/songs/title/">All Songs by Title</a><br>
</center>

<div id="tfheader" style="text-align:center">
    <form action="/songs/search" id="tfnewsearch" method="get">
        <input type="text" class="tftextinput" id="tfnewsearch" name="query" size="21" maxlength="120" value="{{ searchtext }}">
        <input type="submit" value="Search" class="tfbutton">
    </form>
<div class="tfclear"></div>
</div>
