<head>
<title>Set Your Name!</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<center>
<a style="text-align:center" href="/queue/display">Queue</a><br>
<a style="text-align:center" href="/">Songs</a><br>
</center>

<huge><center> Who are you?!?!? </center></huge>

<div id="tfheader" style="text-align:center">
    <form action="/queue/setname" id="tfnewsinger" method="put">
        <input type="text" class="tftextinput" id="tfnewsinger" name="singer" size="21" maxlength="120">
        <input type="submit" value="Set Name" class="tfbutton">
    </form>
<div class="tfclear"></div>
</div>
