<center>
<img src=/static/batman.jpg style="width:600px"><p>
<a style="text-align:center" href="/queue/display">Queue</a><p>
<a style="text-align:center" href=/songs/artist>All Songs by Artist</a><p>
<a style="text-align:center" href=/songs/title>All Songs by Title</a><p>
</center>

<center> By which name would you like to be known? </center>

<div id="tfheader" style="text-align:center">
    <form action="/queue/setname" id="tfnewsinger" method="put">
        <input type="text" class="tftextinput" id="tfnewsinger" name="singer" size="21" maxlength="120">
        <input type="submit" value="Enter" class="tfbutton">
    </form>
<div class="tfclear"></div>
</div>
