<link rel="stylesheet" type="text/css" href="/static/style.css" />

</style>
<script src="https://code.jquery.com/jquery-2.0.0.min.js"></script>

<script>
function add_song(name, id) {
  console.log('add_song called' + name + ' ' + id)
  $.ajax({
   url: '/queue/api/add/' + name + '/' + id,
   type: 'PUT',
   success: function(response) {
      console.log('Got good response')
   }
});
}
</script>

<center>
<table id="songs">
<tr><th> Artist </th> <th> Title </th> <th></th></tr>
</table>
</center>

<script>
$(document).ready(function() {
        var fudge = 10
        var chunk = 100 //Entries to load at once
        var offset = 0
        var wait = 0

        function get_success(resp) {
            offset = offset + chunk
            $('#songs tr:last').after(resp)
            wait = 0
        }

        function populate_table() {
            qurl = '/songs/title/' + offset + '/' + (offset + chunk) + '?name={{name}}'
            jQuery.get(qurl, '', get_success)
        }

        console.log(offset, chunk)

        populate_table()

        $(window).scroll(function() {
            if ($(window).scrollTop() >= $(document).height() - window.innerHeight - fudge) {
              if (wait == 0) {
                  wait = 1
                  populate_table()
              }
            }
        });

});
</script>
