<link rel="stylesheet" type="text/css" href="/static/style.css" />

<script src="https://code.jquery.com/jquery-2.0.0.min.js"></script>
<script>
function add_song(name, id) {
  $.ajax({
   url: '/queue/api/add/' + name + '/' + id,
   type: 'PUT',
   success: function(response) {
      console.log('Got good response')
      return false;
   }
});
return false;
}
</script>

<center>
<table id="songs">
<tr><th> Artist </th> <th> Title </th> <th></th>
{% for song in songlist %}
<tr><td> <a href="/songs/artist/{{song.aid}}">{{song.artist}}</a> </td>
    <td> {{song.title}}  </td>
    <td>
        {% if name != '' %}
            <form>
                <input type="submit" value="Queue" onclick="return add_song('{{name}}', '{{song.sid}}');"/>
            </form>
        {% endif %}
{% endfor %}
    </td>
</tr>
</table>
</center>
