<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-right: 5px;
    padding-left: 5px;
}
</style>

<center>
<table>
<tr><th> Artist </th> <th> Title </th> <th></th>
{% for song in songlist %}
<tr><td> <a href="/songs/artist/{{song.aid}}">{{song.artist}}</a> </td>
    <td> {{song.title}}  </td>
    <td>
        {% if name != '' %}
            <a href="/queue/add/{{name}}/{{song.sid}}">+</a>
        {% endif %}
{% endfor %}
    </td>
</tr>
</table>
</center>
